:root {
  --primary: #022b00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
html {
 scroll-behavior: smooth;
}
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background: #ffffff;
}

/* backgroound alalaliquid glass */
.dropdown-content,
.mobile-search-form,
.hamburger-menu {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(12px);
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); */
  border: 0.5px solid rgba(255, 255, 255, 0.537);
}

/* scroll */
#about {
  scroll-margin-top: 90px;
}
/* navbar for desktop ========================================*/
.mobile-bottom-bar,
.mobile-menu-overlay {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  background: var(--primary);
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: transform 0.7s cubic-bezier(0.4, 1, 0.5, 1), opacity 0.7s;
  padding-top: env(safe-area-inset-top);
}
.navbar.hide {
  transform: translateY(-100%); /*navbar hilang*/
}
.logo {
  width: 40px;
  height: auto;
  padding-top: 5px;
}
.navbar-nav {
  display: flex;
  gap: 15px;
}
.shop-link {
  margin-right: 4px;
  color: white;
}
.navbar .navbar-nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.navbar-extra a {
  color: white;
  margin-left: 15px;
}
/* dropdown */
.dropdown {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.dropdown-content {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  min-width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
.dropdown-content a {
  color: white;
  position: relative;
  display: block;
  text-align: left;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid transparent; /*border transparan supaya tidak menggeser layout*/
  transition: transform 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;
  will-change: transform;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.247);
  border-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.mobile-bottom-bar {
  display: none;
}

/* mobile bottom bar ========*/

/* hero section */
.hero-section {
  min-height: 500px;
}

/* about */
#about {
  text-align: center;
}

#about p {
  text-align: justify;
  margin: 30px 100px 100px;
  @media (max-width: 768px) {
    margin: 45px;
  }
}

/* footer */
.footer {
  background: var(--primary);
  color: white;
  padding: 40px 20px;
  font-size: 15px;
  padding-bottom: env(safe-area-inset-bottom);
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer-left li a,
.footer-middle li a {
  color: white;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.footer-middle li span {
  float: right;
}
/* right */
.footer-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-right a {
  width: 36px;
  height: 36px;
  color: black;
  background: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: clamp(9px, 1.5vw, 12px);
  padding-bottom: 20px;
}

.footer hr {
  border: none;
  border-top: 1px solid #444;
  margin: 10px 0;
}

.footer-bottom > span {
  text-align: left;
}
.footer-bottom p,
.footer-links a {
  color: rgb(128, 128, 255);
}
.footer-links span {
  color: #444;
}

@media (max-width: 768px) {
  /* navigation bar */
  .navbar {
    background: transparent;
  }
  .navbar-nav,
  .navbar-extra {
    display: none;
  }
  /*  */
  .mobile-bottom-bar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    bottom: 15px;
    width: 100%;
    padding-right: 15px;
    font-size: 22px;
    line-height: 1;
  }
  .icon-btn {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .mobile-search-form {
    margin-right: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 999px;
  }

  .mobile-search-form button {
    font-size: 19px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-search-form input {
    background: transparent;
    border: none;
    outline: none;
    left: 15px;
    width: 0;
    opacity: 0;
    padding-left: 0;
    transition: 0.2s ease;
    color: white;
  }

  .mobile-search-form.active input {
    width: 180px;
    opacity: 1;
    padding-left: 10px;
  }
  .hamburger-menu {
    border-radius: 50%;
  }

  /*  *

  /*  */
  .mobile-menu-overlay {
    position: fixed;
    right: 0;
  
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction:column;
          align-items: flex-end;
justify-content: flex-end;
    transform: translateX(100%);
background: green;
transition: 0.3s ease, opacity 0.3s ease;
  }

   .mobile-menu-overlay.active {
   
    transform: translateX(0);
   }
.mobile-bottom-bar {
  position: fixed;
  bottom: 15px;
  z-index: 111;

}

.mobile-side {
    bottom: 50px;
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;

}
.mobile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.mobile-dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.mobile-dropdown-content.active {
  max-height: 400px;
}



  
  /* footer */
  .footer-columns {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-middle {
    text-align: right;
  }
  .footer-right {
    justify-content: space-evenly;
    width: 100%;
  }
  .footer-right a {
    display: inline-flex;
    justify-content: center;
    margin: 10px 0;
  }
  .footer-bottom {
    justify-content: center;
    flex-direction: column;
    text-align: start;
    align-items: start;
  }
}
